* {
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
}

.container {
    width: 325px;
    height: 500px;
    margin-top: 150px;
    padding: 20px;
    border: 2px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #343a40;
}

.display {
    border: 2px solid;
    border-radius: 4px;
    background-color: #adb5bd;
    font-size: 50px;
    text-align: right;
    margin: 10px 0px;
    padding: 10px;
    font-family: monospace;
}

.buttons {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons button {
    flex-grow: 1;
    flex-basis: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 4px;
    background-color: #ced4da;
    font-size: 24px;
}

.buttons .all-clear, .buttons .equals {
    flex-grow: 2;
    flex-basis: 130px;
}

.buttons .all-clear, .buttons .clear {
    background-color: #ff5e5b;
}

.buttons .operator,  .buttons .equals {
    background-color: #fec89a;
}
